@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Merriweather&display=swap');

.kartica{
    background-color: rgb(56, 56, 245);
    height: 550px;
    width: 300px;

    margin: 100px auto;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

}
img{
    height: 190px;
    width: 300px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

}
.kartica:hover{
    background-color:  rgb(89, 147, 255);
    transition: .75s;
}
.opis{
    margin: 10px 20px;
}
.opis h3{
    text-align: right;
    font-size: 30px;
}
.a{
    font-size: 25px;
}
.b{
    font-size: 25px;
}
.c{
    font-size: 25px;
}
.d{
    font-size: 25px;
}
button{
    margin: 10px 50px;
    height: 50px;
    width: 200px;

    border-radius: 30px;
    border: 1px none white;

}
.kartica:hover>button{
    font-weight: 600;
    transition: .75s;
    color: white;
    background-color:rgba(0, 0, 0, 0.288);
}
