div{
    background-color: rgb(63, 107, 196);
    width: 200px;
    height: 600px;

    margin: 100px auto;

    border-radius: 25px;

    border:1px solid black;
    

}
div:hover{
    background-color: rgb(63, 71, 90);
}
div img{

    border-top-left-radius: 25px ;
    border-top-right-radius: 25px;
    width: 200px;
    height: 200px;
}
h3{
    padding:20px 15px;
    color: rgb(0, 255, 51);

    font-size: 50px;
}
p{
    font-size: 24px;
    padding:20px 15px;
    font-style: italic;
    color: rgb(0, 137, 21);
    
}
/* p i h raditi preko drugog diva u divu da bi bilo bolje (pading izgleda normalno)*/